<div class="jumbotron text-center">
  <h1>Dashboard</h1>
  <p>Information about the latest automation runs:</p>
</div>

<div class="container">
    <%= @lastSixAutomationRuns.each_slice(3) do |lastSixAutomationRuns| %>
        <div class="row">
            <% lastSixAutomationRuns.each do |automationRun| %>
                <div class="card col-md text-center">
                    <div class="card-body">
                        <div class="card-title">
                            <a class="nav-link" href="<%= automation_run_path(automationRun) %>">
                                <h4>Automation Run <%= automationRun.id %></h4>
                                <hr />
                            </a>
                        </div>
                        <span>
                            <%= pie_chart(@testStatuses[automationRun.id], donut: true, legend: false) %>
                        </span>
                        <br />
                        <div class="card-text">
                            <p>
                                Timestamp: <%= automationRun.timestamp %> <br />
                                Operating System: <%= automationRun.os %> <br />
                                Build Number: <%= automationRun.build_number %>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>