<div class="container-fluid">
  <h1>Test Runs</h1>
  <%= paginate @test_runs, theme: 'twitter-bootstrap-4', window: 1, pagination_class: "pagination-sm"%>
  <table class="text-left">
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Timestamp</th>
    </tr>
   
  
    <% @test_runs.each do |test_run| %>
      <tr>
        <td>
          <a class="nav-link" href="<%= test_run_path(test_run) %>">
            <%= test_run.id %>
          </a>
        </td>
        <td><%= test_run.status %></td>
        <td><%= test_run.timestamp %></td>
      </tr>
    <% end %>
  </table>
</div>