<div class="container-fluid">
  <h1>Automation Runs</h1>
  <hr />
  <%= paginate @automationRuns, theme: 'twitter-bootstrap-4', window: 1, pagination_class: "pagination-sm"%>
    <div class="row">
      <div class="col-sm-2">
        <strong>Id</strong>
      </div>
      <div class="col-sm">
        <strong>Timestamp</strong>
      </div>
      <div class="col-sm">
        <strong>Operating System</strong>
      </div>
      <div class="col-sm">
        <strong>Build Number</strong>
      </div>
    </div>
   
    <% @automationRuns.each do |automationRun| %>
      <div class="row">
        <div class=col-sm-2>
          <a href="<% automation_runs_path(automationRun) %>">
            <%= automationRun.id %>
          </a>
        </div>
        <div class=col-sm><%= automationRun.timestamp %></div>
        <div class=col-sm><%= automationRun.os %></div>
        <div class=col-sm><%= automationRun.build_number %></div>
      </div>
    <% end %>
</div>